<!DOCTYPE html>
<html>
  <head>
    <title>TLDraw on Rails</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
